/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav {
    /* Estilos de la barra de navegación */
  }
  
  /* Estilos del contenido principal */
  main {
    padding: 20px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  